<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="happy.jaj.prj.Admin_Mapper">

	<!-- 로그인(관리자) -->
	<select id="admin_login">
		SELECT ID, NAME, PW  FROM ADMIN WHERE ID='' AND PW=''
	</select>
	
	<!-- 본인 정보 조회(관리자) -->
	<select id="admin_info">
		SELECT ID, NAME, COURSECODE, PW  FROM TEACHER WHERE ID=''
	</select>
	
	<!-- 본인 정보 수정(관리자) -->
	<update id="admin_modify">
		UPDATE TEACHER SET PW='0000', NAME='홍길동' WHERE ID= '01011111111'
	</update>
	
	<!-- 학생 회원가입 신청 조회(관리자) -->
	<select id="admin_accept_list">
		SELECT ID, NAME, PW, GENDER, BIRTH, ADDR 
		FROM (SELECT ROWNUM RNUM, ID, NAME, PW, GENDER, BIRTH, ADDR,
		DELFLAG, S_CHECKFROM STUDENT)
		WHERE RNUM BETWEEN 리스트시작번호 AND 리스트끝번호 AND  S_CHECK='N'
	</select>
	
	<!-- 학생 회원가입 신청 승인(관리자) -->
	<update id="admin_accept">
		UPDATE STUDENT SET S_CHECK = 'Y' WHERE ID IN ('01011111111')
	</update>
	
	<!-- 학생 회원가입 신청 거절(관리자) -->
	<delete id="admin_accept_refuse">
		DELETE FROM STUDENT WHERE ID IN ('01011111111')
	</delete>
	
	<!-- 강사 조회(관리자) -->
	<select id="admin_teacher_list">
		SELECT ID, NAME, PW, COURSECODE 
		FROM (SELECT ROWNUM RNUM, ID, NAME, PW, COURSECODE FROM TEACHER)
		WHERE RNUM BETWEEN 리스트시작번호 AND 리스트 끝 번호
	</select>
	
	<!-- 강사 탈퇴(관리자) -->
	<delete id="admin_teacher_delete">
		DELETE FROM TEACHER WHERE ID =''
	</delete>
	
	<!-- 강사 등록(관리자) -->
	<insert id="admin_teacher_add">
		INSERT INTO TEACHER(ID, NAME,PW,COURSECODE)SET('','','','')
	</insert>
	
	<!-- 강사 정보 수정(관리자) -->
	<update id="admin_teacher_modify">
		UPDATE TEACHER ID='' PW='' NAME='' COURSCODE=''
	</update>
	
	<!-- 전체 학생 조회(관리자) -->
	<select id="admin_student_list">
		SELECT ID, NAME, PW, GENDER, BIRTH, ADDR, DELFLAG 
		FROM (SELECT ROWNUM RNUM, ID, NAME, PW, GENDER, BIRTH, ADDR,
		DELFLAG, S_CHECKFROM STUDENT) 
		WHERE RNUM BETWEEN 리스트시작번호 AND 리스트 끝 번호 AND S_CHECK = 'Y' AND DELFLAG='N'
	</select>
	
	<!-- 학생 탈퇴(관리자) -->
	<update id="admin_student_delete">
		UPDATE STUDENT SET DELFLAG ='N' WHERE ID IN(,)
	</update>
	
	<!-- 학생 상세 조회(관리자) -->
	<select id="admin_student_detail">
		SELECT ID, NAME, PW, GENDER, BIRTH, ADDR, DELFLAG FROM STUDENT
	</select>
	
	<!-- 학생 정보 수정(관리자) -->
	<update id="admin_student_modify">
		UPDATE STUDENT SET ID ='', NAME='', PW='',GENDER='',
		BIRTH='',ADDR='' WHERE ID=''
	</update>
	
	<!-- 학생 과정 연결 조회(관리자) 본인 과정 -->
	<select id="admin_student_clist_sel">
		SELECT COURSENAME, ID 
		FROM USERCOURSE U JOIN COURSE CUSING (COURSECODE) 
		WHERE COURSECODE = SELECT COURSECODE FROM USERCOURSE WHERE ID=''
	</select>
	
	<!-- 학생 과정 연결 조회(관리자) 모든 과정 -->
	<select id="admin_student_clist_all">
		SELECT COURSENAME FROM COURSE
	</select>
	
	<!-- 학생 과정 연결(관리자) -->
	<insert id="admin_student_cconnect">
		INSERT INTO USERCOURSE(ID, COURSECODE, REGDATE)VALUES('','',SYSDATE)
	</insert>
	
	<!-- 학생 과정 삭제(관리자) -->
	<delete id="admin_student_cdelete">
		DELETE FROM USERCOURSE WHERE ID='' AND COURSECODE=''
	</delete>

</mapper>
