<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="happy.jaj.prj.Course_Mapper">
	
	<!-- 미완 -->
	
	<!-- (관리자)과정 등록(ID는 강사ID를 말함) -->
	<insert id="course_insert" parameterType="CourseDTO">
		INSERT INTO COURSE(COURSECODE, COURSENAME, STARTDATE, COURSECNT)
		VALUES
		((SELECT 'C'|| LPAD((TO_NUMBER(SUBSTR(MAX(COURSECODE),2))+1),5,0) FROM COURSE),
		#{coursename}, #{startdate}, #{cnt})
	</insert>
	
	<!-- (관리자)전체과정조회 -->
	<select id="course_select" resultType="CourseDTO">
		SELECT COURSECODE, COURSENAME, STARTDATE, NAME
		FROM COURSE JOIN TEACHER
		USING(COURSECODE)
		ORDER BY STARTDATE
	</select>
	
</mapper>
