<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="happy.jaj.prj.Member_Mapper">

	<!-- 학생 로그인 -->
	<select id="stu_login" parameterType="java.util.Map" resultType="StudentDTO">
		SELECT ID, NAME, PW 
 		FROM STUDENT WHERE ID=#{id} AND PW=#{pw}
	</select>
	
	<!-- 학생 비밀번호 초기화 -->
	<update id="resetPw" parameterType="java.util.Map">
		UPDATE STUDENT SET PW =#{pw} WHERE ID=#{id}
	</update>
	
	<!-- 학생 회원 가입 -->
	<insert id="student_join" parameterType="StudentDTO">
		INSERT INTO STUDENT VALUES(#{id},
		 #{name}, #{pw},#{gender}, #{birth}, #{addr}, 'N','N')
	</insert>
	
	<!-- 학생 과정 조회 -->
	<select id="student_course" parameterType="java.lang.String" resultType="CourseDTO">
		SELECT COURSENAME, STARTDATE, COURSECNT
  		FROM USERCOURSE JOIN COURSE 
  		USING (COURSECODE) WHERE USERCOURSE.ID = #{id}
  	</select>
	
	<!-- 본인 정보 조회(학생) -->
	<select id="student_info" parameterType="java.lang.String" resultType="StudentDTO">
		SELECT ID, NAME, GENDER, BIRTH, ADDR
 		FROM STUDENT WHERE ID = #{id}
 	</select>
	
	<!-- 본인 정보 수정(학생) -->
	<update id="student_modify" parameterType="StudentDTO">
		UPDATE STUDENT SET PW=#{pw}, NAME=#{name}, GENDER=#{gender}, ADDR=#{addr}
		WHERE ID= #{id}
 	</update>
	
</mapper>
