<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="happy.jaj.prj.Member_Mapper">

	<!-- 학생 로그인 -->
	<select id="stu_login" parameterType="java.util.Map" resultType="StudentDTO">
		SELECT ID, NAME, PW 
 		FROM STUDENT WHERE ID=#{id} AND PW=#{pw}
	</select>
	
	<!-- 학생 비밀번호 초기화 -->
	<update id="resetPw" parameterType="java.util.Map">
		UPDATE STUDENT SET PW =#{pw} WHERE ID=#{id}
	</update>
	
	<!-- 학생 회원 가입 -->
	<insert id="student_join">
		INSERT INTO STUDENT VALUES('01011111111',
		 '홍길동', '1111','M', '2019-05-08','서울시 강남구 찬주동', 'N','N')
	</insert>
	
	<!-- 학생 과정 조회 -->
	<select id="student_course">
		SELECT COURSENAME, STARTDATE, COURSECNT
  		FROM USERCOURSE U JOIN COURSE C
  		USING (COURSECODE) WHERE U.ID = '01011111111'
  	</select>
	
	<!-- 본인 정보 조회(학생) -->
	<select id="student_info">
		SELECT ID, NAME, GENDER, BIRTH, ADDR
 		FROM STUDENT WHERE ID = ''
 	</select>
	
	<!-- 본인 정보 수정(학생) -->
	<update id="student_modify">
		UPDATE STUDENT SET PW='0000', NAME='홍길동', GENDER='F', ADDR='서울시 강남'
		WHERE ID= '01011111111'
 	</update>
	
</mapper>
