<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="happy.jaj.prj.Teacher_Mapper">

	<!-- 로그인(강사) -->
	<select id="teacher_login" parameterType="java.util.Map" resultType="TeacherDTO">
		SELECT ID, NAME, COURSECODE 
 		FROM TEACHER
  		WHERE ID=#{id} AND PW=#{pw}
  	</select>
  	
  	<!-- 비밀번호 암호화 로그인용 pw 찾기(강사) -->
	<select id="teacher_login_find" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT PW FROM TEACHER WHERE ID = #{id}
	</select>
	
	<!-- 본인 정보 조회(강사) -->
	<select id="teacher_info" parameterType="java.lang.String" resultType="TeacherDTO">
		SELECT ID, NAME, COURSECODE, PW,COURSENAME 
		FROM TEACHER JOIN COURSE USING(COURSECODE)
		WHERE ID=#{id}
	</select>
	
	<!-- 본인 정보 수정(강사) -->
	<update id="teacher_modify" parameterType="java.util.Map">
		UPDATE TEACHER SET PW=#{pw}, NAME=#{name} WHERE ID= #{id}
	</update>
	
	<!-- 담당과정 수강학생 조회(강사) -->
	<select id="teacher_student_list" parameterType="RowNumDTO" resultType="StudentDTO">
		SELECT ID, NAME, GENDER, BIRTH, ADDR 
		FROM (SELECT ROWNUM RNUM, ID, NAME, GENDER, BIRTH,
		ADDR FROM STUDENT JOIN USERCOURSE USING(ID) WHERE COURSECODE = #{coursecode})
		WHERE RNUM BETWEEN #{start} AND #{last}
	</select>
	
	<!-- 담당과정 수강학생 수 조회(강사) -->
	<select id="teacher_student_list_count" parameterType="RowNumDTO" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM (SELECT ID
				FROM STUDENT JOIN USERCOURSE USING(ID) 
				WHERE COURSECODE = #{coursecode})
	</select>
	

</mapper>
