	body,p,div{
		margin: 0;
	}
	
	table{
		border: 2px dotted blue;
		border-collapse: collapse;
		width: 500px;
	}
	th,td{
		border: 1px solid pink;
	}
	#main{
		width: 800px;
		height: 650px;

	}
	#wrap{
		margin-left: 200px;
	}
