	body,p,div{
		margin: 0;
	}
	body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
	
	
	#main{
		height: 690px;
	}
	